<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/new" method="post">
        <label for="userid">用户id：</label>
        <input id="userid" type="text" name="userid" class="input_test"  /><br>
        <label for="username">用户名：</label>
        <input id="username" type="text" name="username" class="input_test"  /><br>
        <label for="password">用户密码：</label>
        <input id="password" type="password" name="password" class="input_test"  /><br>
        <input type="submit" value="提交" />
    </form>
</body>
<style>
    .input_test{
        height: 10px;
        width: 50px;
    }
</style>
</html>